{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <div class="content">
        <p>Hi...its done.</p>
    </div><!--end content-->
    <div class="occupation_names">
        <ul>
            {% for occupation in occupations %}
            <li><a href="{% url 'occupation_detail' pk=occupation.pk %}">{{ occupation.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!--end occupation_names-->
</body>
</html>